
.viewcode-block .viewcode-back {
  float: right;
}

.code.homie-attr::before {
  content: "$";
}

.code.homie-attr {
  color: var(--md-code-hl-special-color);
}

.code.homie-val {
  color: var(--md-code-hl-keyword-color);
}

.code.homie-dev,
.code.homie-node,
.code.homie-prop {
  color: var(--md-code-hl-string-color);
}

.topic-list li::marker {
  content: "/";
}

*:root {
  --md-admonition-seealso-color: hsl(278, 100%, 63%);
  --md-eye--icon: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zM12 17c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5zm0-8c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3z"/></svg>');
}

.admonition.seealso .admonition-title {
  background-color: hsla(278, 100%, 63%, 0.1);
}

.admonition.seealso {
  border: 0 solid var(--md-admonition-seealso-color);
}

.md-typeset .admonition.seealso :is(.admonition-title, summary)::before {
  background-color: var(--md-admonition-seealso-color);
  mask-image: var(--md-eye--icon);
}
